<h1>About Us</h1>
<p>"My plan is to have a theatre in some small town or something and I'll be manager. Ill be the crazy old movie guy." - Quentin Tarantino. 'Theatre' is a website developed by a university student at Carnegie Mellon. This website essentially showcases all the dramas - famous and little known and is dedicated to the good old theatre times.</p>
